.container {
  border: 2px solid red;
  width: 1200px;
  margin: auto;
  text-align: center;
}

.total-count {
  border: 2px solid gold;
  text-align: center;
  margin-top: 50px;
  font-size: 26px;
}

.total-count .count {
  font-weight: bold;
}

.inventory {
  border: 2px solid orange;
  margin-top: 20px;
}

.inventory span {
  font-weight: bold;
  margin-bottom: 10px;
  display: block;
}

.welcome {
  font-size: 24px;
  font-weight: bold;
}